<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <ion-card>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="6" size-lg="4" size="12">
          <div class="login-form">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Bienvenido</ion-card-title>
                <ion-card-subtitle>Introduce tus credenciales para continuar</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label position="floating">Correo electrónico</ion-label>
                  <ion-input type="email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" required></ion-input>
                </ion-item>

                <ion-button routerLink="/inicio" expand="block" color="primary" class="mt-2" >
                  Iniciar Sesión
                </ion-button>

                <ion-button expand="block" fill="clear" color="medium">
                  ¿Olvidaste tu contraseña?
                </ion-button>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
